spec:
  template:
    spec:
      volumes:
        - name: config
          configMap:
            name: ${project.artifactId}
            items:
              - key: config.properties
                path: config.properties
      containers:
        - name: ${project.artifactId}
          resources:
            requests:
              cpu: "0.2"
              memory: 128Mi
            limits:
              cpu: "1.0"
              memory: 1024Mi
          volumeMounts:
            - mountPath: /config
              name: config
          env:
              # Necessary, otherwise java console won't work in Openshift
            - name: "AB_JOLOKIA_HTTPS"
              value: "true"
            - name: "AB_PROMETHEUS_OFF"
              value: "true" 
