spec:
  template:
    spec:
      volumes:
        - name: config
          configMap:
            name: config-test
            items:
              - key: config.properties
                path: config.properties
      containers:
        - name: config-test
          resources:
            requests:
              cpu: "0.2"
              memory: 128Mi
            limits:
              cpu: "1.0"
              memory: 1024Mi
          volumeMounts:
            - mountPath: /config
              name: config
          env:
           - name: "AB_OFF"
             value: "true"
           - name: "AB_PROMETHEUS_OFF"
             value: "true"